@model IEnumerable<CineplexCinemas.Models.Cineplex>

@{
    ViewData["Title"] = "Our Locations!";
}
<div id="Cinemas">
    <h2>@ViewData["Title"]</h2>

    <table class="table">
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td class="col-lg-4">
                    @Html.DisplayFor(modelItem => item.Location)
                    <img src="@Url.Content(@item.ImageUrl)" class="img-responsive" />
                </td>
                <td class="col-lg-8">
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CineplexId">Details</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>

