<h1>Shopping Cart</h1>

Item 1:
@ViewData["LocationId"]
@ViewData["MovieId"]
@ViewData["SessionID"]
<br />
Item 2:
@ViewData["LocationId1"]
@ViewData["MovieId1"]
@ViewData["SessionID1"]
<br />
Item 3:
@ViewData["LocationId2"]
@ViewData["MovieId2"]
@ViewData["SessionID2"]
<br />
Item 4:
@ViewData["LocationId3"]
@ViewData["MovieId3"]
@ViewData["SessionID3"]
<br />
Item 5:
@ViewData["LocationId4"]
@ViewData["MovieId4"]
@ViewData["SessionID4"]

<p>Please note that your session will expire in a 10 minute timeframe. If you do not complete your booking within this period, or if you are inactive.</p>